asgiref==3.12.1
attrs==26.1.0
Django==5.2.16
django-debug-toolbar==7.0.0
djangorestframework==3.17.2
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
flake8==7.3.0
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
pep8-naming==0.15.1
pillow==12.3.0
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.13.0
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
setuptools==83.0.0
sqlparse==0.5.5
typing_extensions==4.16.0
uritemplate==4.2.0
psycopg2-binary==2.9.11